In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/Capstone - HR /Output1 (1).csv')

In [ ]:
df.drop(columns=["Candidate_in_demand"],axis=1,inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
cat_col = df.select_dtypes(exclude=[np.number]).columns.tolist()
cont_col = df.select_dtypes(include=[np.number]).columns.tolist()

In [ ]:
import gower

In [ ]:
df["Applicant_ID"] = np.arange(1,(df.shape[0])+1,1)

In [ ]:
df.set_index("Applicant_ID",inplace=True)

In [ ]:
dist_matrix = gower.gower_matrix(df)

In [ ]:
!pip install scikit-learn-extra

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn-extra in /usr/local/lib/python3.7/dist-packages (0.2.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn-extra) (1.21.6)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn-extra) (1.7.3)
Requirement already satisfied: scikit-learn>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn-extra) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.23.0->scikit-learn-extra) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.23.0->scikit-learn-extra) (1.1.0)

In [ ]:
from sklearn_extra.cluster import KMedoids

clusters = (KMedoids(n_clusters=3,metric='precomputed',method='pam', init='build', max_iter=300, random_state=1).fit(dist_matrix).labels_)

In [ ]:
df["Clusters"] = clusters

In [ ]:
df.head()

,Total_Experience,Relevant_experience,Department,Role,Industry,Organization,Designation,Education,Graduation_Specialization,University_Grad,Current_CTC,Inhand_Offer,Last_Appraisal_Rating,No_Of_Companies_worked,Certifications,International_degree_any,Expected_CTC,Clusters
Applicant_ID,,,,,,,,,,,,,,,,,,
1,0,0,Fresher,Fresher,Fresher,Fresher,Fresher,PG,Arts,Lucknow,0,N,Fresher,0,0,0,384551,1
2,23,14,HR,Consultant,Analytics,H,HR,Doctorate,Chemistry,Surat,2702664,Y,Key_Performer,2,0,0,3783729,2
3,21,12,Top Management,Consultant,Training,J,Manager,Doctorate,Zoology,Jaipur,2236661,Y,Key_Performer,5,0,0,3131325,2
4,15,8,Banking,Financial Analyst,Aviation,F,HR,Doctorate,Others,Bangalore,2100510,N,C,5,0,0,2608833,1
5,10,5,Sales,Project Manager,Insurance,E,Medical Officer,Grad,Zoology,Mumbai,1931644,N,C,2,0,0,2221390,1

In [ ]:
df["Clusters"].describe()

count   25,000.00
mean         0.87
std          0.79
min          0.00
25%          0.00
50%          1.00
75%          2.00
max          2.00
Name: Clusters, dtype: float64

In [ ]:
df["Clusters"].unique()

array([1, 2, 0])

In [ ]:
Cluster_1=df.loc[df["Clusters"]==1,:]

In [ ]:
pd.set_option("display.float_format",lambda x:'{:,.2f}'.format(x))
df.groupby("Clusters").agg({"Expected_CTC":"mean"})

          Expected_CTC
Clusters
0         1,868,647.98
1         2,292,354.77
2         2,759,645.76

In [ ]:
df.groupby(["Clusters","Education"]).agg({"Education":"count"})

                     Education
Clusters Education
0        Doctorate         330
         Grad             1030
         PG               2062
         Under Grad       6059
1        Doctorate        4589
         Grad             2199
         PG               2368
         Under Grad         24
2        Doctorate        1366
         Grad             2980
         PG               1896
         Under Grad         97

In [ ]:
Cluster_0=df.loc[df["Clusters"]==0,:]
Cluster_1=df.loc[df["Clusters"]==1,:]
Cluster_2=df.loc[df["Clusters"]==2,:]

In [ ]:
Cluster_1.loc[Cluster_1["Designation"]=="HR",:]["Education"].value_counts()

Doctorate    287
Grad         115
PG            93
Name: Education, dtype: int64

In [ ]:
Cluster_2.Designation.value_counts(1)*100

Marketing Manager    11.82
Manager               7.38
Others                7.30
Product Manager       7.26
Consultant            7.08
Sr.Manager            7.02
Data Analyst          6.99
Research Analyst      6.06
Assistant Manager     6.06
HR                    5.96
Director              4.95
Software Developer    4.87
Web Designer          4.59
Network Engineer      4.50
CA                    4.04
Research Scientist    1.96
Medical Officer       1.29
Fresher               0.63
Scientist             0.24
Name: Designation, dtype: float64